.github
.env

# Application site
web/app/plugins/*
!web/app/plugins/.gitkeep
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep

# WordPress site
web/wp
web/.htaccess

# Dotenv site
.env
.env.*
!.env.example

# Composer site
vendor/*
!vendor/.gitkeep
